.wrap {
	padding-left: 20px;
	padding-top: 80px;
	grid-area: main;
}

.header {
	display: flex;
	align-items: center;
	column-gap: 24px;
}

.link {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: rgba(255, 255, 255, 0.15);

	&_active {
		color: #FFFFFF;
	}
}

.blocks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 10px;
	grid-area: sec;
	padding-right: 25px;
	padding-left: 20px;
}

.chartHeader {
	z-index: 10000;
	margin-left: 50px;
	margin-top: 25px;
	display: flex;
	align-items: center;
	column-gap: 24px;
}

.chartTitle {
	cursor: pointer;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: rgba(255, 255, 255, 0.15);;

	&_active {
		@extend .chartTitle;
		color: #FFFFFF;
	}
}