.wrap {
	background: rgba(62, 58, 80, 0.45);
	border-radius: 10px;
	width: 518px;
}

.title {
	margin-left: 12px;
	margin-top: 8px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 37px;
	color: #FFFFFF;
}

.label {
	display: flex;
	align-items: center;

	& p {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
	}
}

.labels {
	display: grid;
	row-gap: 12px;
}

.color {
	width: 15px;
	height: 15px;
	margin-right: 12px;

	&_1 {
		@extend .color;
		background: #6B8E23;
	}

	&_2 {
		@extend .color;
		background: #FCA4FF;
	}

	&_3 {
		@extend .color;
		background: #8E96FF;
	}
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 49px;
}