.gridArea {
	grid-area: main;
}

.container {
	padding: 80px 0 0 80px;

	.selectLine {
		width: 100%;
		display: flex;
		gap: 25px;
		padding-bottom: 25px;

		.headerLine {
			cursor: pointer;
			font-family: 'Raleway', sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
			color: #FFFFFF;
		}

		.headerLineAll {
			cursor: pointer;
			font-family: 'Raleway', sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
			color: rgba(255, 255, 255, 0.15);
		}
	}

	.descCont {
		padding-top: 60px;
		display: flex;
		gap: 20px;
	}
}

.graphCont {
	padding: 0 25px 80px 80px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 15px;
	grid-area: sec;
}